<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <button class="enableEthereumButton">Connect to Metamask</button>
    <h2>Account: <span class="showAccount"></span></h2>
    <h2>Chain ID: <span class="showChainId"></span></h2>
    <script src="javascripts/index.js"></script>
  </body>
</html>
